@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #151315;
    color: #fcfcfc;
  }
}

main {
  max-width: 600px;
  margin: 0 auto;
  font-size: 21px;
  line-height: 1.5;
  padding-bottom: 120px;
}

main .img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.img > img {
  width: 100%;
  height: auto;
}

blockquote {
  margin: 0;
  padding: 0 1em;
  color: #fe8294;
  box-shadow: 0px 0px 0px 1px #292929;
  border-radius: 3px;
  border-left: 0.25em solid #dfe2e5;
  background: #1d1d1d;
  font-size: 20px;
  padding: 32px 24px;
}

@media (prefers-color-scheme: light) {
  blockquote {
    box-shadow: none;
    border-left: none;
  }
}

section {
  color: #151515;
  max-width: 640px;
  margin: 100px auto;
  font-size: 21px;
  line-height: 30px;
  padding: 20px;

  display: grid;
  grid-template-columns: 250px 250px;
}

.inline-tag {
  display: inline-block;
  background: blue;
  color: white;
  padding: 0px 10px;
  line-height: 18px;
  border-radius: 16px;
  vertical-align: top;
}

.block {
  border: 2px solid blue;
  background-color: blue;
  aspect-ratio: 1 / 1;
  margin-bottom: 8px;
  box-sizing: border-box;
}

.spoiler-vanilla {
  cursor: pointer;
}

.increasing-block {
  display: flex;
  align-items: flex-end;
  gap: 16px;
}

.images {
  display: flex;
  gap: 8px;
  margin: 24px 0px;
}

.images div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1 {
  line-height: 1.3;
}

.placeholder {
  margin: 64px 0;
}

.placeholder canvas {
  border: 1px solid blue;
}

.placeholder .result {
  --gif: white;
  --w: 8px;
  width: 162px;
  height: 113px;
  background:
    repeat top left / 32px auto linear-gradient(to left, transparent 95%, rgba(0, 0, 255, 0.5) 100%),
    repeat top left / auto 32px linear-gradient(to top, transparent 95%, rgba(255, 0, 0, 0.5) 100%),
    repeat top left / var(--w) var(--w) var(--gif);

  background: repeat top left / var(--w) var(--w) var(--gif);
}
