.spoiler.hidden:not(:has(> .transition)) {
  color: transparent;
  border-color: transparent;
  text-decoration-color: transparent;
  text-emphasis-color: transparent;
}

.spoiler.hidden:not(:has(> .transition)) > * {
  opacity: 0;
}

/**
 * Animated content transitions: 
 * Fade In/Out via opacity
 */

.transition.fade {
  --hide-transition: 0.2s ease-out;
  --reveal-transition: 0.5s ease-out;

  transition: opacity var(--reveal-transition), filter var(--reveal-transition);
}

.spoiler.hidden > .transition.fade {
  opacity: 0;
  transition: opacity var(--hide-transition), filter var(--hide-transition);
  filter: blur(0.5px);
}

/**
 * Animated content transitions: 
 * Iris animation
 */

/* 
  it is a hack to ensure the mask is fully removed if max mask-size isn't enough to 
  fully cover the element
 */
@keyframes remove-mask {
  to {
    mask-image: none;
  }
}

.transition.iris {
  mask-image: radial-gradient(circle closest-side, black 0%, black 75%, transparent 100%);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: max(200vw, 200vh) max(200vw, 200vw);
  transition: mask-size 0.5s linear, opacity 0.6s ease-out;
}

@supports (syntax: "<color>") {
  .transition.iris {
    scale: 2;
  }
}

.spoiler:not(.hidden) > .transition.iris {
  animation: 0s linear 0.6s 1 forwards remove-mask;
}

.spoiler.hidden > .transition.iris {
  mask-size: 0px 0px;
  opacity: 0;
  transition: mask-size 0s linear 0.15s, opacity 0.15s ease-out;
}
