.spoiler {
  background: paint(spoiler) repeat-x left center / 333px 28px;

  color: transparent;
  border-color: transparent;
  text-decoration-color: transparent;
  text-emphasis-color: transparent;
}

.spoiler > * {
  opacity: 0;
}
