@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --sh-class: #383a42; /* Soft Black */
  --sh-identifier: #407f5c; /* Forest Green */
  --sh-sign: #d55fde; /* Soft Pink */
  --sh-string: #b59f3b; /* Mustard Yellow */
  --sh-keyword: #0170c1; /* Medium Blue */
  --sh-comment: #a0a1a7; /* Dark Gray */
  --sh-jsxliterals: #7960a9; /* Muted Purple */
}

.masked-logo {
  mask-image: url("./assets/logo.svg");
  mask-size: contain;
  mask-position: center;
  mask-repeat: no-repeat;
}

.placeholder {
  margin: 64px 0;
}

.placeholder canvas {
  border: 1px solid blue;
}

.placeholder .result {
  --gif: white;
  --w: 8px;
  width: 162px;
  height: 113px;
  background:
    repeat top left / 32px auto linear-gradient(to left, transparent 95%, rgba(0, 0, 255, 0.5) 100%),
    repeat top left / auto 32px linear-gradient(to top, transparent 95%, rgba(255, 0, 0, 0.5) 100%),
    repeat top left / var(--w) var(--w) var(--gif);

  background: repeat top left / var(--w) var(--w) var(--gif);
}
